.box {
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box--large {
    background: orange;
    width: 270px;
    height: 270px;
}

.box--medium {
    background: pink;
    width: 180px;
    height: 180px;
}

.box--small {
    background: lightblue;
    width: 90px;
    height: 90px;
}